 <footer>
        <p>Created by AB - Copy right {{getCurrentYear}}</p>
        {{!-- when you use something in currely braces that is not a partial handlebar first look for a helper, if not find helper i will look for peace of code ith this name  --}}
    </footer>