<header>
    <h1>{{title}}</h1>
    <a href="/" style="margin:10px">Home</a>
    <a href="/about" style="margin:10px">About</a>
    <a href="/projects" style="margin:10px">Projects</a>
    <a href="/help.html">Help</a>
</header>