<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}} 
    <h3>Following are my projects</h3>
    <ul>
        <li>
            school management system
        </li>
        <li>Morocoo Hr</li>
        <li>Online Health care system</li>
        <li>Shopping store</li>
    </ul>

    <footer>
        {{> footer}}
    </footer>
    
</body>
</html>